LLM_PROVIDER=openai
GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL='models/gemini-embedding-001'
GOOGLE_LLM_MODEL='gemini-2.5-flash-lite'
OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL='text-embedding-3-small'
OPENAI_LLM_MODEL='gpt-5-nano'
LMSTUDIO_BASE_URL='http://localhost:1234/v1'
LMSTUDIO_EMBEDDING_MODEL=
LMSTUDIO_LLM_MODEL=
DATABASE_URL=
PG_VECTOR_COLLECTION_NAME=
PDF_PATH=
